/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: "wght" var(--font-weight-text);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-fixed);
  background-size: cover;
  background-attachment: fixed;
}

.content {
  inline-size: var(--block-width);
  border: var(--main-border);
  margin: auto;
  background-color: var(--main-bg-color);
}

/* Шапка сайта */

.header {
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 130px; 
  margin-block-start: 100px;
}

.header-logo {
  font-size: clamp(3.0625rem, 0rem + 14.2857vw, 4.0625rem);
}

.header-title {
  font-size: clamp(0.875rem, 0rem + 6.6667vw, 1.4375rem);
}

/* Основная часть сайта с карточками*/

.main-content {
  margin-block-start: 96px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  inline-size: var(--block-width);
}

.card-header {
  font-weight: var(--font-weight-header);
  font-size: 18px;
  color: #000;
  padding-inline: 10px;
  padding-block: 5px;
}

.image-container {
  position: relative;
}

.card-image {
  display: block;
  max-block-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card-label {
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--label-shadow-color);
}

@supports (-webkit-text-stroke: 1px var(--label-shadow-color)) or (text-stroke: 1px var(--label-shadow-color)) {
  .card-label {
    -webkit-text-stroke: 1px var(--label-shadow-color);
    text-stroke: 1px var(--label-shadow-color);
    text-shadow: none;
  }
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-text-container p {
  font-weight: var(--font-weight-text);
  font-size: 18px;
  line-height: 117%;
  color: #000;
}

.card-button {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  align-items: center;
  text-align: center;
  margin-block-start: 25px;
}

.card__like-button {
  padding: 8px 35px;
  border: var(--main-border);
  cursor: pointer;
}

.card__icon-button {
  border: var(--main-border);
  background-color: transparent;
  color: #000;
  cursor: pointer;
  padding: 0;
}

.button__text {
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: #000;
}

.button-save__text {
  margin-inline-start: 8px;
}

/* Подвал сайта с кнопкой */

.footer {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 50px 100px;
  padding-inline: 20px;
  padding-block: 20.5px;
  background: #fff;
}

.footer-button .floppy-image {
  display: block;
  inline-size: 21px;
  block-size: 21px;
  flex-shrink: 0;
}

/* Диалоговое окно */

.dialog-floppy[open] {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  max-inline-size: 100%;
  max-block-size: 100%;
  border: var(--main-border);
  padding: 0;
  inline-size: 353px;
}

.dialog-floppy[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.dialog-container-info {
  display: flex;
  align-items: center;
  gap: 20px;
  min-block-size: 63px;
}

.dialog-container-info .floppy-image {
  display: block;
  inline-size: 39px;
  block-size: 39px;
}

.dialog-container-info .info-text {
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.close-button {
  padding: 12.5px 132.5px;
  border: var(--main-border);
  background-color: transparent;
  cursor: pointer;
}

.close-button-text {
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
}

/* Медиа-запросы */

@media (width <= 375px) {
  .header {
    padding-block: 120px;
  }

  .footer-button {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 17px 20px;
  }

  .footer-button .floppy-image {
    inline-size: 28px;
    block-size: 28px;
    flex-shrink: 0;
  }

  .dialog-floppy[open] {
    inline-size: 341px;
  }

  .dialog-container {
    padding-inline: 40px;
    gap: 30px;
  }

  .close-button {
  padding: 12.5px 116.5px;
  } 
}

/* Фильтры карточек */
.hue-rotate-filter {
  filter: hue-rotate(310deg);
}

.saturate-filter {
  filter: saturate(280%) contrast(80%);
}

.sepia-filter {
    filter: sepia(40%);
}

.contrast-filter {
    filter: contrast(80%);
}

.grayscale-filter {
    filter: grayscale(0.8);
}

.invert-filter {
    filter: invert(90%) saturate(200%) sepia(30%);
} 

.brightness-filter {
  filter: brightness(80%);
}

/* Эффекты кнопок */
.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
  transition: 0.3s ease;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #000;
}

.button::after{
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease-in-out;
}

.button:hover::after{
  transform: scaleX(1);
}

.button > span {
  position: relative;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.button:hover > span {
  color: #fff;
}

/* Кнопка с сердцем */
.like-icon {
  display: block;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.sparks {
  opacity: 0;
}