/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --font-weight-text: 410;
  --font-weight-header: 715;
  --main-bg-color: #fff;
  --bg-fixed: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #e7e7e7 0.01%, #1a1a1a);
  --label-shadow-color: rgba(255 255 255 / 0.5);  
  --block-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --main-color: #000;
  --secondary-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --main-border: 2px solid var(--main-color);
}